body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:1565px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9172 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:780px;
  height:80px;
  display:flex;
}
#u9172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u9173 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:43px;
  width:20px;
  height:35px;
  display:flex;
}
#u9173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9174 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:48px;
  width:80px;
  height:26px;
  display:flex;
}
#u9174 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9174_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:2px;
}
#u9175 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:185px;
  width:750px;
  height:1px;
  display:flex;
}
#u9175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#008080;
}
#u9176 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:150px;
  width:80px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#008080;
}
#u9176 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9176_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u9177 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:150px;
  width:80px;
  height:26px;
  display:flex;
  font-size:20px;
}
#u9177 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9177_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u9179 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:38px;
  width:115px;
  height:40px;
  display:flex;
  color:#797979;
}
#u9179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#797979;
}
#u9180 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:45px;
  width:40px;
  height:26px;
  display:flex;
  font-size:20px;
  color:#797979;
}
#u9180 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9180_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u9181 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:49px;
  width:25px;
  height:25px;
  display:flex;
  color:#797979;
}
#u9181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9182 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:120px;
  width:120px;
  height:26px;
  display:flex;
}
#u9182 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9182_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u9183 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:120px;
  width:25px;
  height:25px;
  display:flex;
}
#u9183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u9184 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:150px;
  width:176px;
  height:26px;
  display:flex;
  color:#7F7F7F;
}
#u9184 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9184_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:320px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9185 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:200px;
  width:755px;
  height:320px;
  display:flex;
}
#u9185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#7F7F7F;
}
#u9186 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:225px;
  width:120px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#7F7F7F;
}
#u9186 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9186_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u9187 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:225px;
  width:111px;
  height:26px;
  display:flex;
  color:#7F7F7F;
}
#u9187 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9187_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#888888;
}
#u9188 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:271px;
  width:707px;
  height:26px;
  display:flex;
  color:#888888;
}
#u9188 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u9189 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:322px;
  width:94px;
  height:65px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u9189 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u9190 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:322px;
  width:94px;
  height:65px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u9190 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u9191 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:322px;
  width:94px;
  height:65px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u9191 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u9192 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:322px;
  width:94px;
  height:65px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u9192 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u9193 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:322px;
  width:94px;
  height:65px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u9193 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u9194 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:322px;
  width:94px;
  height:65px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u9194 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(2, 125, 180, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u9195 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:322px;
  width:94px;
  height:65px;
  display:flex;
  font-size:14px;
  color:rgba(2, 125, 180, 0.647058823529412);
  text-align:right;
  line-height:22px;
}
#u9195 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u9196 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:337px;
  width:25px;
  height:25px;
  display:flex;
}
#u9196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u9197 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:342px;
  width:25px;
  height:25px;
  display:flex;
  color:#D7D7D7;
}
#u9197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u9198 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:342px;
  width:25px;
  height:25px;
  display:flex;
  color:#D7D7D7;
}
#u9198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u9199 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:342px;
  width:25px;
  height:25px;
  display:flex;
  color:#D7D7D7;
}
#u9199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u9200 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:342px;
  width:25px;
  height:25px;
  display:flex;
  color:#D7D7D7;
}
#u9200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u9201 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:342px;
  width:25px;
  height:25px;
  display:flex;
  color:#D7D7D7;
}
#u9201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u9202 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:342px;
  width:25px;
  height:25px;
  display:flex;
  color:#D7D7D7;
}
#u9202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u9203 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:342px;
  width:25px;
  height:25px;
  display:flex;
  color:#D7D7D7;
}
#u9203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9204 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:225px;
  width:64px;
  height:27px;
  display:flex;
}
#u9204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9204_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 128, 128, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008080;
}
#u9205 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:246px;
  width:140px;
  height:40px;
  display:flex;
  color:#008080;
}
#u9205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#888888;
}
#u9206 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:407px;
  width:707px;
  height:26px;
  display:flex;
  color:#888888;
}
#u9206 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#888888;
}
#u9207 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:448px;
  width:707px;
  height:26px;
  display:flex;
  color:#888888;
}
#u9207 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#888888;
}
#u9208 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:489px;
  width:707px;
  height:26px;
  display:flex;
  color:#888888;
}
#u9208 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9209 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:540px;
  width:780px;
  height:60px;
  display:flex;
}
#u9209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u9210 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:555px;
  width:35px;
  height:35px;
  display:flex;
}
#u9210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9211 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:565px;
  width:40px;
  height:26px;
  display:flex;
}
#u9211 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9211_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u9212 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:558px;
  width:15px;
  height:25px;
  display:flex;
  color:#AAAAAA;
}
#u9212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:45px;
}
#u9213 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:546px;
  width:44px;
  height:45px;
  display:flex;
}
#u9213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u9214 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:546px;
  width:45px;
  height:45px;
  display:flex;
}
#u9214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u9215 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:546px;
  width:45px;
  height:45px;
  display:flex;
}
#u9215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#888888;
}
#u9216 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:617px;
  width:707px;
  height:26px;
  display:flex;
  color:#888888;
}
#u9216 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9217 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:660px;
  width:780px;
  height:100px;
  display:flex;
}
#u9217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9218 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:680px;
  width:80px;
  height:26px;
  display:flex;
}
#u9218 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9218_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9219_input {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:35px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(121, 121, 121, 0.603921568627451);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9219_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:35px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(121, 121, 121, 0.603921568627451);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u9219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:35px;
}
#u9219 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:721px;
  width:481px;
  height:35px;
  display:flex;
  color:rgba(121, 121, 121, 0.603921568627451);
}
#u9219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9219_img.disabled {
}
#u9219.disabled {
}
#u9220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 128, 128, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008080;
}
#u9220 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:716px;
  width:140px;
  height:40px;
  display:flex;
  color:#008080;
}
#u9220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9221 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:20px;
  width:780px;
  height:80px;
  display:flex;
}
#u9221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u9222 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:43px;
  width:20px;
  height:35px;
  display:flex;
}
#u9222 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9223 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:48px;
  width:80px;
  height:26px;
  display:flex;
}
#u9223 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9223_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 77, 0, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9224 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:120px;
  width:730px;
  height:170px;
  display:flex;
}
#u9224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF4D00;
}
#u9225 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:150px;
  width:250px;
  height:37px;
  display:flex;
  font-size:28px;
  color:#FF4D00;
}
#u9225 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9225_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u9226 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:212px;
  width:664px;
  height:26px;
  display:flex;
  color:#555555;
}
#u9226 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9227 {
  border-width:0px;
  position:absolute;
  left:1264px;
  top:156px;
  width:120px;
  height:26px;
  display:flex;
}
#u9227 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9227_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(2, 125, 180, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#027DB4;
}
#u9228 {
  border-width:0px;
  position:absolute;
  left:1412px;
  top:38px;
  width:125px;
  height:40px;
  display:flex;
  color:#027DB4;
}
#u9228 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
}
#u9229 {
  border-width:0px;
  position:absolute;
  left:1509px;
  top:44px;
  width:23px;
  height:25px;
  display:flex;
}
#u9229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#027DB4;
}
#u9230 {
  border-width:0px;
  position:absolute;
  left:1420px;
  top:43px;
  width:80px;
  height:26px;
  display:flex;
  color:#027DB4;
}
#u9230 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9230_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9231 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:305px;
  width:780px;
  height:100px;
  display:flex;
}
#u9231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#555555;
}
#u9232 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:325px;
  width:209px;
  height:37px;
  display:flex;
  font-size:28px;
  color:#555555;
}
#u9232 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9232_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u9233 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:371px;
  width:719px;
  height:26px;
  display:flex;
  color:#AAAAAA;
}
#u9233 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9234 {
  border-width:0px;
  position:absolute;
  left:1355px;
  top:325px;
  width:197px;
  height:26px;
  display:flex;
}
#u9234 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9234_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u9235 {
  border-width:0px;
  position:absolute;
  left:1527px;
  top:371px;
  width:25px;
  height:25px;
  display:flex;
}
#u9235 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'anticon Bold', 'anticon';
  font-weight:700;
  font-style:normal;
  color:#E60F0F;
  text-align:right;
}
#u9236 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:371px;
  width:325px;
  height:23px;
  display:flex;
  font-family:'anticon Bold', 'anticon';
  font-weight:700;
  font-style:normal;
  color:#E60F0F;
  text-align:right;
}
#u9236 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9237 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:405px;
  width:780px;
  height:100px;
  display:flex;
}
#u9237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#555555;
}
#u9238 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:425px;
  width:168px;
  height:37px;
  display:flex;
  font-size:28px;
  color:#555555;
}
#u9238 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9238_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u9239 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:471px;
  width:719px;
  height:26px;
  display:flex;
  color:#AAAAAA;
}
#u9239 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9240 {
  border-width:0px;
  position:absolute;
  left:1355px;
  top:425px;
  width:197px;
  height:26px;
  display:flex;
}
#u9240 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9240_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u9241 {
  border-width:0px;
  position:absolute;
  left:1527px;
  top:471px;
  width:25px;
  height:25px;
  display:flex;
}
#u9241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'anticon Bold', 'anticon';
  font-weight:700;
  font-style:normal;
  color:#13E107;
  text-align:right;
}
#u9242 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:471px;
  width:325px;
  height:23px;
  display:flex;
  font-family:'anticon Bold', 'anticon';
  font-weight:700;
  font-style:normal;
  color:#13E107;
  text-align:right;
}
#u9242 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9243 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:505px;
  width:780px;
  height:100px;
  display:flex;
}
#u9243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#555555;
}
#u9244 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:525px;
  width:190px;
  height:37px;
  display:flex;
  font-size:28px;
  color:#555555;
}
#u9244 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9244_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u9245 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:571px;
  width:719px;
  height:26px;
  display:flex;
  color:#AAAAAA;
}
#u9245 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9246 {
  border-width:0px;
  position:absolute;
  left:1355px;
  top:525px;
  width:197px;
  height:26px;
  display:flex;
}
#u9246 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9246_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u9247 {
  border-width:0px;
  position:absolute;
  left:1527px;
  top:571px;
  width:25px;
  height:25px;
  display:flex;
}
#u9247 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'anticon Bold', 'anticon';
  font-weight:700;
  font-style:normal;
  color:#13E107;
  text-align:right;
}
#u9248 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:571px;
  width:325px;
  height:23px;
  display:flex;
  font-family:'anticon Bold', 'anticon';
  font-weight:700;
  font-style:normal;
  color:#13E107;
  text-align:right;
}
#u9248 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9249 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:605px;
  width:780px;
  height:100px;
  display:flex;
}
#u9249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#555555;
}
#u9250 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:625px;
  width:369px;
  height:37px;
  display:flex;
  font-size:28px;
  color:#555555;
}
#u9250 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9250_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u9251 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:671px;
  width:719px;
  height:26px;
  display:flex;
  color:#AAAAAA;
}
#u9251 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9252 {
  border-width:0px;
  position:absolute;
  left:1355px;
  top:625px;
  width:197px;
  height:26px;
  display:flex;
}
#u9252 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9252_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u9253 {
  border-width:0px;
  position:absolute;
  left:1527px;
  top:671px;
  width:25px;
  height:25px;
  display:flex;
}
#u9253 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'anticon Bold', 'anticon';
  font-weight:700;
  font-style:normal;
  color:#13E107;
  text-align:right;
}
#u9254 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:671px;
  width:325px;
  height:23px;
  display:flex;
  font-family:'anticon Bold', 'anticon';
  font-weight:700;
  font-style:normal;
  color:#13E107;
  text-align:right;
}
#u9254 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
