body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:1570px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4151 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:780px;
  height:80px;
  display:flex;
}
#u4151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u4152 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:43px;
  width:20px;
  height:35px;
  display:flex;
}
#u4152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4153 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:48px;
  width:40px;
  height:26px;
  display:flex;
}
#u4153 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4153_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:65px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4155 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:780px;
  height:65px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u4156 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:115px;
  width:760px;
  height:40px;
  display:flex;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u4156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4157 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:125px;
  width:20px;
  height:20px;
  display:flex;
}
#u4157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u4158 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:122px;
  width:215px;
  height:26px;
  display:flex;
  color:#D7D7D7;
}
#u4158 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4158_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#AAAAAA;
}
#u4159 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:185px;
  width:88px;
  height:29px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#AAAAAA;
}
#u4159 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4159_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#AAAAAA;
}
#u4160 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:239px;
  width:88px;
  height:29px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#AAAAAA;
}
#u4160 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4160_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u4161 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:188px;
  width:135px;
  height:26px;
  display:flex;
  color:#D7D7D7;
}
#u4161 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4161_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4162 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:239px;
  width:135px;
  height:35px;
  display:flex;
  color:#7F7F7F;
}
#u4162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4163 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:239px;
  width:135px;
  height:35px;
  display:flex;
  color:#7F7F7F;
}
#u4163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4164 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:351px;
  width:780px;
  height:80px;
  display:flex;
}
#u4164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u4165 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:374px;
  width:20px;
  height:35px;
  display:flex;
}
#u4165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4166 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:379px;
  width:40px;
  height:26px;
  display:flex;
}
#u4166 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4166_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:65px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4168 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:431px;
  width:780px;
  height:65px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u4169 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:446px;
  width:760px;
  height:40px;
  display:flex;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u4169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4170 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:456px;
  width:20px;
  height:20px;
  display:flex;
}
#u4170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u4171 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:453px;
  width:215px;
  height:26px;
  display:flex;
  color:#D7D7D7;
}
#u4171 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4171_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#AAAAAA;
}
#u4172 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:516px;
  width:88px;
  height:29px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#AAAAAA;
}
#u4172 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4172_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#AAAAAA;
}
#u4173 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:570px;
  width:88px;
  height:29px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#AAAAAA;
}
#u4173 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4173_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4174 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:570px;
  width:135px;
  height:35px;
  display:flex;
  color:#7F7F7F;
}
#u4174 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4175 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:570px;
  width:135px;
  height:35px;
  display:flex;
  color:#7F7F7F;
}
#u4175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4176 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:513px;
  width:135px;
  height:35px;
  display:flex;
  color:#7F7F7F;
}
#u4176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4177 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:520px;
  width:25px;
  height:25px;
  display:flex;
}
#u4177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u4178 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:518px;
  width:80px;
  height:26px;
  display:flex;
  color:#AAAAAA;
}
#u4178 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4178_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4179 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:598px;
  width:780px;
  height:80px;
  display:flex;
}
#u4179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u4180 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:621px;
  width:20px;
  height:35px;
  display:flex;
}
#u4180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4181 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:626px;
  width:40px;
  height:26px;
  display:flex;
}
#u4181 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4181_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:65px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4183 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:678px;
  width:780px;
  height:65px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u4184 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:693px;
  width:760px;
  height:40px;
  display:flex;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u4184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4185 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:703px;
  width:20px;
  height:20px;
  display:flex;
}
#u4185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4186 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:700px;
  width:80px;
  height:26px;
  display:flex;
}
#u4186 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4186_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#AAAAAA;
}
#u4187 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:763px;
  width:88px;
  height:29px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#AAAAAA;
}
#u4187 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4187_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#AAAAAA;
}
#u4188 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:817px;
  width:88px;
  height:29px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#AAAAAA;
}
#u4188 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4188_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4189 {
  border-width:0px;
  position:absolute;
  left:943px;
  top:817px;
  width:135px;
  height:35px;
  display:flex;
  color:#7F7F7F;
}
#u4189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4190 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:817px;
  width:135px;
  height:35px;
  display:flex;
  color:#7F7F7F;
}
#u4190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4191 {
  border-width:0px;
  position:absolute;
  left:943px;
  top:760px;
  width:135px;
  height:35px;
  display:flex;
  color:#7F7F7F;
}
#u4191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4192 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:767px;
  width:25px;
  height:25px;
  display:flex;
}
#u4192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u4193 {
  border-width:0px;
  position:absolute;
  left:956px;
  top:765px;
  width:80px;
  height:26px;
  display:flex;
  color:#AAAAAA;
}
#u4193 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4193_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4195 {
  border-width:0px;
  position:absolute;
  left:963px;
  top:703px;
  width:20px;
  height:20px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u4195 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u4196 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:708px;
  width:9px;
  height:9px;
  display:flex;
}
#u4196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4197 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:907px;
  width:300px;
  height:170px;
  display:flex;
}
#u4197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u4199 {
  border-width:0px;
  position:absolute;
  left:1129px;
  top:871px;
  width:100px;
  height:100px;
  display:flex;
  font-family:'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:56px;
  color:#FFFFFF;
}
#u4199 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:46px;
}
#u4200 {
  border-width:0px;
  position:absolute;
  left:1175px;
  top:898px;
  width:8px;
  height:46px;
  display:flex;
}
#u4200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4201 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:20px;
  width:780px;
  height:80px;
  display:flex;
}
#u4201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u4202 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:43px;
  width:20px;
  height:35px;
  display:flex;
}
#u4202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4203 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:48px;
  width:40px;
  height:26px;
  display:flex;
}
#u4203 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4203_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:65px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4205 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:100px;
  width:780px;
  height:65px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u4206 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:115px;
  width:760px;
  height:40px;
  display:flex;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u4206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4207 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:125px;
  width:20px;
  height:20px;
  display:flex;
}
#u4207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4208 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:122px;
  width:80px;
  height:26px;
  display:flex;
}
#u4208 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4208_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#AAAAAA;
}
#u4209 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:185px;
  width:88px;
  height:29px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#AAAAAA;
}
#u4209 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4209_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#AAAAAA;
}
#u4210 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:239px;
  width:88px;
  height:29px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#AAAAAA;
}
#u4210 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4210_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4211 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:239px;
  width:135px;
  height:35px;
  display:flex;
  color:#7F7F7F;
}
#u4211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4212 {
  border-width:0px;
  position:absolute;
  left:1098px;
  top:239px;
  width:135px;
  height:35px;
  display:flex;
  color:#7F7F7F;
}
#u4212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u4213 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:182px;
  width:135px;
  height:35px;
  display:flex;
  color:#7F7F7F;
}
#u4213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4214 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:189px;
  width:25px;
  height:25px;
  display:flex;
}
#u4214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u4215 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:187px;
  width:80px;
  height:26px;
  display:flex;
  color:#AAAAAA;
}
#u4215 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4215_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4217 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:125px;
  width:20px;
  height:20px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u4217 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u4218 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:130px;
  width:9px;
  height:9px;
  display:flex;
}
#u4218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(127, 127, 127, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4219 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:345px;
  width:780px;
  height:50px;
  display:flex;
}
#u4219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u4220 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:355px;
  width:80px;
  height:26px;
  display:flex;
  color:#555555;
}
#u4220 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4220_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u4221 {
  border-width:0px;
  position:absolute;
  left:1545px;
  top:358px;
  width:15px;
  height:25px;
  display:flex;
}
#u4221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u4222 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:351px;
  width:35px;
  height:35px;
  display:flex;
}
#u4222 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#7F7F7F;
}
#u4223 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:295px;
  width:48px;
  height:31px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#7F7F7F;
}
#u4223 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4223_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4224 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:33px;
  width:180px;
  height:67px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
