body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:780px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6502 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:780px;
  height:80px;
  display:flex;
}
#u6502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6503 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:48px;
  width:160px;
  height:26px;
  display:flex;
}
#u6503 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6503_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u6504 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:43px;
  width:20px;
  height:35px;
  display:flex;
}
#u6504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6505 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:27px;
  width:180px;
  height:67px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#AAA9A9;
}
#u6506 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:125px;
  width:88px;
  height:29px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#AAA9A9;
}
#u6506 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6506_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:235px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6507 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:164px;
  width:736px;
  height:235px;
  display:flex;
}
#u6507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6508_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:411px;
  height:21px;
}
#u6508 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:258px;
  width:400px;
  height:10px;
  display:flex;
}
#u6508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6509_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:111px;
  height:21px;
}
#u6509 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:258px;
  width:100px;
  height:10px;
  display:flex;
}
#u6509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6510 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:253px;
  width:20px;
  height:20px;
  display:flex;
}
#u6510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6511 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:192px;
  width:123px;
  height:37px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6511 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6511_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6512 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:311px;
  width:176px;
  height:26px;
  display:flex;
}
#u6512 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6512_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6513 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:311px;
  width:176px;
  height:26px;
  display:flex;
}
#u6513 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6513_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#AAA9A9;
}
#u6514 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:414px;
  width:154px;
  height:29px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#AAA9A9;
}
#u6514 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6514_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:450px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6515 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:453px;
  width:736px;
  height:450px;
  display:flex;
}
#u6515 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6516_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:411px;
  height:21px;
}
#u6516 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:599px;
  width:400px;
  height:10px;
  display:flex;
}
#u6516 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6516_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6517_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:111px;
  height:21px;
}
#u6517 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:599px;
  width:100px;
  height:10px;
  display:flex;
}
#u6517 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6518 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:594px;
  width:20px;
  height:20px;
  display:flex;
}
#u6518 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6519 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:481px;
  width:108px;
  height:37px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6519 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6519_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u6520 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:592px;
  width:28px;
  height:25px;
  display:flex;
  font-family:'anticon Medium', 'anticon';
  font-weight:500;
  font-style:normal;
  font-size:28px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u6520 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6520_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u6521 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:592px;
  width:28px;
  height:25px;
  display:flex;
  font-family:'anticon Medium', 'anticon';
  font-weight:500;
  font-style:normal;
  font-size:28px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u6521 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6521_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6522 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:645px;
  width:228px;
  height:26px;
  display:flex;
}
#u6522 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6522_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#AAAAAA;
}
#u6523 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:691px;
  width:599px;
  height:29px;
  display:flex;
  font-size:22px;
  color:#AAAAAA;
}
#u6523 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6524_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:111px;
  height:21px;
}
#u6524 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:599px;
  width:100px;
  height:10px;
  display:flex;
}
#u6524 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6525_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:111px;
  height:21px;
}
#u6525 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:599px;
  width:100px;
  height:10px;
  display:flex;
}
#u6525 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6526_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:111px;
  height:21px;
}
#u6526 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:599px;
  width:100px;
  height:10px;
  display:flex;
}
#u6526 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6527_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u6527 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:549px;
  width:80px;
  height:45px;
  display:flex;
  color:#F2F2F2;
}
#u6527 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6528 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:749px;
  width:50px;
  height:50px;
  display:flex;
}
#u6528 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6529 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:749px;
  width:50px;
  height:50px;
  display:flex;
}
#u6529 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6530 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:749px;
  width:50px;
  height:50px;
  display:flex;
}
#u6530 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6531 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:749px;
  width:50px;
  height:50px;
  display:flex;
}
#u6531 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
  text-align:center;
}
#u6532 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:811px;
  width:78px;
  height:26px;
  display:flex;
  color:#AAAAAA;
  text-align:center;
}
#u6532 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
  text-align:center;
}
#u6533 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:811px;
  width:78px;
  height:26px;
  display:flex;
  color:#AAAAAA;
  text-align:center;
}
#u6533 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
  text-align:center;
}
#u6534 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:811px;
  width:78px;
  height:26px;
  display:flex;
  color:#AAAAAA;
  text-align:center;
}
#u6534 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
  text-align:center;
}
#u6535 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:811px;
  width:78px;
  height:26px;
  display:flex;
  color:#AAAAAA;
  text-align:center;
}
#u6535 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
  text-align:center;
}
#u6536 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:847px;
  width:128px;
  height:26px;
  display:flex;
  color:#AAAAAA;
  text-align:center;
}
#u6536 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6536_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6537_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
  text-align:center;
}
#u6537 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:847px;
  width:127px;
  height:26px;
  display:flex;
  color:#AAAAAA;
  text-align:center;
}
#u6537 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6537_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
  text-align:center;
}
#u6538 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:847px;
  width:131px;
  height:26px;
  display:flex;
  color:#AAAAAA;
  text-align:center;
}
#u6538 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
  text-align:center;
}
#u6539 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:847px;
  width:104px;
  height:26px;
  display:flex;
  color:#AAAAAA;
  text-align:center;
}
#u6539 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#AAA9A9;
}
#u6540 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:918px;
  width:132px;
  height:29px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#AAA9A9;
}
#u6540 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6540_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:365px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6541 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:957px;
  width:736px;
  height:365px;
  display:flex;
}
#u6541 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6542_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:411px;
  height:21px;
}
#u6542 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:1103px;
  width:400px;
  height:10px;
  display:flex;
}
#u6542 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6542_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6543_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:111px;
  height:21px;
}
#u6543 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:1103px;
  width:100px;
  height:10px;
  display:flex;
}
#u6543 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6543_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6544 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:1098px;
  width:20px;
  height:20px;
  display:flex;
}
#u6544 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6545 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:985px;
  width:71px;
  height:37px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6545 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6545_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u6546 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:1096px;
  width:28px;
  height:25px;
  display:flex;
  font-family:'anticon Medium', 'anticon';
  font-weight:500;
  font-style:normal;
  font-size:28px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u6546 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6546_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u6547 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:1096px;
  width:28px;
  height:25px;
  display:flex;
  font-family:'anticon Medium', 'anticon';
  font-weight:500;
  font-style:normal;
  font-size:28px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u6547 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6547_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#AAAAAA;
}
#u6548 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:1149px;
  width:609px;
  height:29px;
  display:flex;
  font-size:22px;
  color:#AAAAAA;
}
#u6548 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6549_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:111px;
  height:21px;
}
#u6549 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:1103px;
  width:100px;
  height:10px;
  display:flex;
}
#u6549 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6550_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:111px;
  height:21px;
}
#u6550 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:1103px;
  width:100px;
  height:10px;
  display:flex;
}
#u6550 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6550_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6551_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:111px;
  height:21px;
}
#u6551 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:1103px;
  width:100px;
  height:10px;
  display:flex;
}
#u6551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u6552 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:1053px;
  width:80px;
  height:45px;
  display:flex;
  color:#F2F2F2;
}
#u6552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6553 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:1207px;
  width:50px;
  height:50px;
  display:flex;
}
#u6553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6554 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:1207px;
  width:50px;
  height:50px;
  display:flex;
}
#u6554 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6555 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:1207px;
  width:50px;
  height:50px;
  display:flex;
}
#u6555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6556 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:1207px;
  width:50px;
  height:50px;
  display:flex;
}
#u6556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
  text-align:center;
}
#u6557 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:1269px;
  width:78px;
  height:26px;
  display:flex;
  color:#AAAAAA;
  text-align:center;
}
#u6557 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
  text-align:center;
}
#u6558 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:1269px;
  width:78px;
  height:26px;
  display:flex;
  color:#AAAAAA;
  text-align:center;
}
#u6558 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
  text-align:center;
}
#u6559 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:1269px;
  width:78px;
  height:26px;
  display:flex;
  color:#AAAAAA;
  text-align:center;
}
#u6559 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
  text-align:center;
}
#u6560 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:1269px;
  width:78px;
  height:26px;
  display:flex;
  color:#AAAAAA;
  text-align:center;
}
#u6560 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#AAA9A9;
}
#u6561 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:1337px;
  width:132px;
  height:29px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#AAA9A9;
}
#u6561 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6561_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:275px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6562 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:1376px;
  width:736px;
  height:275px;
  display:flex;
}
#u6562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6563_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:411px;
  height:21px;
}
#u6563 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:1522px;
  width:400px;
  height:10px;
  display:flex;
}
#u6563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6564_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:111px;
  height:21px;
}
#u6564 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:1522px;
  width:100px;
  height:10px;
  display:flex;
}
#u6564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6565 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:1517px;
  width:20px;
  height:20px;
  display:flex;
}
#u6565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6566 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:1404px;
  width:61px;
  height:37px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6566 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6566_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u6567 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:1515px;
  width:28px;
  height:25px;
  display:flex;
  font-family:'anticon Medium', 'anticon';
  font-weight:500;
  font-style:normal;
  font-size:28px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u6567 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6567_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u6568 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:1515px;
  width:28px;
  height:25px;
  display:flex;
  font-family:'anticon Medium', 'anticon';
  font-weight:500;
  font-style:normal;
  font-size:28px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u6568 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6568_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6569_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:111px;
  height:21px;
}
#u6569 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:1522px;
  width:100px;
  height:10px;
  display:flex;
}
#u6569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6570_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:111px;
  height:21px;
}
#u6570 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:1522px;
  width:100px;
  height:10px;
  display:flex;
}
#u6570 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6571_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:111px;
  height:21px;
}
#u6571 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:1522px;
  width:100px;
  height:10px;
  display:flex;
}
#u6571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u6572 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:1472px;
  width:80px;
  height:45px;
  display:flex;
  color:#F2F2F2;
}
#u6572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:56px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00BFBF;
}
#u6573 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:1572px;
  width:231px;
  height:56px;
  display:flex;
  color:#00BFBF;
}
#u6573 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
