body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:1565px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8513 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:117px;
  width:780px;
  height:807px;
}
#u8513_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:807px;
  overflow:hidden;
}
#u8514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u8514 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:979px;
  width:120px;
  height:120px;
  display:flex;
  color:#FFFFFF;
}
#u8514 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 128, 128, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00BFBF;
}
#u8515 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:924px;
  width:200px;
  height:45px;
  display:flex;
  color:#00BFBF;
}
#u8515 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8516 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:990px;
  width:25px;
  height:25px;
  display:flex;
}
#u8516 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8516_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#1C1B1B;
}
#u8517 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:36px;
  width:112px;
  height:37px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#1C1B1B;
}
#u8517 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8517_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A8A8A8;
}
#u8518 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:83px;
  width:105px;
  height:26px;
  display:flex;
  color:#A8A8A8;
}
#u8518 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8518_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:325px;
  background:inherit;
  background-color:rgba(197, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1C1B1B;
  text-align:left;
}
#u8519 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:117px;
  width:510px;
  height:325px;
  display:flex;
  color:#1C1B1B;
  text-align:left;
}
#u8519 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8520 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:167px;
  width:15px;
  height:15px;
  display:flex;
}
#u8520 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8521 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:287px;
  width:15px;
  height:15px;
  display:flex;
}
#u8521 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8522 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:322px;
  width:15px;
  height:15px;
  display:flex;
}
#u8522 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8523 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:397px;
  width:15px;
  height:15px;
  display:flex;
}
#u8523 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#9C9696;
}
#u8524 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:277px;
  width:69px;
  height:26px;
  display:flex;
  color:#9C9696;
}
#u8524 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8524_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#9C9696;
}
#u8525 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:317px;
  width:69px;
  height:26px;
  display:flex;
  color:#9C9696;
}
#u8525 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8525_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#9C9696;
}
#u8526 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:202px;
  width:127px;
  height:26px;
  display:flex;
  color:#9C9696;
}
#u8526 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8526_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#9C9696;
}
#u8527 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:392px;
  width:144px;
  height:26px;
  display:flex;
  color:#9C9696;
}
#u8527 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8527_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#9C9696;
}
#u8528 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:162px;
  width:98px;
  height:26px;
  display:flex;
  color:#9C9696;
}
#u8528 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8528_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1C1B1B;
}
#u8529 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:122px;
  width:120px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1C1B1B;
}
#u8529 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8529_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#9C9696;
}
#u8530 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:242px;
  width:40px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#9C9696;
}
#u8530 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8530_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#9C9696;
}
#u8531 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:357px;
  width:40px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#9C9696;
}
#u8531 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8531_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A8A8A8;
}
#u8532 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:162px;
  width:314px;
  height:26px;
  display:flex;
  color:#A8A8A8;
}
#u8532 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8532_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8533 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:212px;
  width:15px;
  height:15px;
  display:flex;
}
#u8533 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A8A8A8;
}
#u8534 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:202px;
  width:108px;
  height:26px;
  display:flex;
  color:#A8A8A8;
}
#u8534 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8534_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8535 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:367px;
  width:15px;
  height:15px;
  display:flex;
}
#u8535 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:35px;
}
#u8536 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:1015px;
  width:32px;
  height:35px;
  display:flex;
  color:#008080;
}
#u8536 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8536_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8537_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008080;
}
#u8537 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:1060px;
  width:40px;
  height:26px;
  display:flex;
  color:#008080;
}
#u8537 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8537_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:100px;
  background:inherit;
  background-color:rgba(2, 125, 180, 0.996078431372549);
  border:none;
  border-radius:20px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8538 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:824px;
  width:780px;
  height:100px;
  display:flex;
}
#u8538 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u8539 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:737px;
  width:120px;
  height:120px;
  display:flex;
  color:#FFFFFF;
}
#u8539 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:74px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:200px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8540 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:1155px;
  width:300px;
  height:74px;
  display:flex;
}
#u8540 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8540_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:35px;
}
#u8541 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:998px;
  width:29px;
  height:35px;
  display:flex;
}
#u8541 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:35px;
}
#u8542 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:1175px;
  width:27px;
  height:35px;
  display:flex;
}
#u8542 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8542_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008080;
}
#u8543 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:1179px;
  width:120px;
  height:26px;
  display:flex;
  color:#008080;
}
#u8543 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8543_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8544_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008080;
}
#u8544 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:1047px;
  width:40px;
  height:26px;
  display:flex;
  color:#008080;
}
#u8544 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8544_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u8545 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:1180px;
  width:24px;
  height:25px;
  display:flex;
}
#u8545 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8545_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F9F9F9;
}
#u8546 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:865px;
  width:97px;
  height:26px;
  display:flex;
  color:#F9F9F9;
}
#u8546 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8546_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F9F9F9;
}
#u8547 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:865px;
  width:141px;
  height:26px;
  display:flex;
  color:#F9F9F9;
}
#u8547 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8547_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F9F9F9;
}
#u8548 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:865px;
  width:119px;
  height:26px;
  display:flex;
  color:#F9F9F9;
}
#u8548 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8548_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F9F9F9;
}
#u8549 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:865px;
  width:144px;
  height:26px;
  display:flex;
  color:#F9F9F9;
}
#u8549 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8549_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8550 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:101px;
  width:780px;
  height:807px;
}
#u8550_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:807px;
  overflow:hidden;
}
#u8551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u8551 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:963px;
  width:120px;
  height:120px;
  display:flex;
  color:#FFFFFF;
}
#u8551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 128, 128, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00BFBF;
}
#u8552 {
  border-width:0px;
  position:absolute;
  left:1098px;
  top:908px;
  width:200px;
  height:45px;
  display:flex;
  color:#00BFBF;
}
#u8552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#1C1B1B;
}
#u8553 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:20px;
  width:112px;
  height:37px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#1C1B1B;
}
#u8553 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8553_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A8A8A8;
}
#u8554 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:67px;
  width:85px;
  height:26px;
  display:flex;
  color:#A8A8A8;
}
#u8554 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8554_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:325px;
  background:inherit;
  background-color:rgba(197, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1C1B1B;
  text-align:left;
}
#u8555 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:101px;
  width:510px;
  height:325px;
  display:flex;
  color:#1C1B1B;
  text-align:left;
}
#u8555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8556 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:187px;
  width:15px;
  height:15px;
  display:flex;
}
#u8556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8557 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:222px;
  width:15px;
  height:15px;
  display:flex;
}
#u8557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8558 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:297px;
  width:15px;
  height:15px;
  display:flex;
}
#u8558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#9C9696;
}
#u8559 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:177px;
  width:69px;
  height:26px;
  display:flex;
  color:#9C9696;
}
#u8559 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8559_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#9C9696;
}
#u8560 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:217px;
  width:69px;
  height:26px;
  display:flex;
  color:#9C9696;
}
#u8560 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8560_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#9C9696;
}
#u8561 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:292px;
  width:144px;
  height:26px;
  display:flex;
  color:#9C9696;
}
#u8561 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8561_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1C1B1B;
}
#u8562 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:106px;
  width:120px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1C1B1B;
}
#u8562 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8562_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#9C9696;
}
#u8563 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:142px;
  width:40px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#9C9696;
}
#u8563 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8563_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#9C9696;
}
#u8564 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:257px;
  width:40px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#9C9696;
}
#u8564 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8564_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8565 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:267px;
  width:15px;
  height:15px;
  display:flex;
}
#u8565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:100px;
  background:inherit;
  background-color:rgba(2, 125, 180, 0.996078431372549);
  border:none;
  border-radius:20px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8566 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:808px;
  width:780px;
  height:100px;
  display:flex;
}
#u8566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u8567 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:721px;
  width:120px;
  height:120px;
  display:flex;
  color:#FFFFFF;
}
#u8567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:74px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:200px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8568 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:1139px;
  width:300px;
  height:74px;
  display:flex;
}
#u8568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:35px;
}
#u8569 {
  border-width:0px;
  position:absolute;
  left:1243px;
  top:1159px;
  width:27px;
  height:35px;
  display:flex;
}
#u8569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008080;
}
#u8570 {
  border-width:0px;
  position:absolute;
  left:1098px;
  top:1163px;
  width:120px;
  height:26px;
  display:flex;
  color:#008080;
}
#u8570 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8570_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u8571 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:1164px;
  width:24px;
  height:25px;
  display:flex;
}
#u8571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F9F9F9;
}
#u8572 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:850px;
  width:162px;
  height:26px;
  display:flex;
  color:#F9F9F9;
}
#u8572 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8572_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F9F9F9;
}
#u8573 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:850px;
  width:162px;
  height:26px;
  display:flex;
  color:#F9F9F9;
}
#u8573 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8573_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F9F9F9;
}
#u8574 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:850px;
  width:162px;
  height:26px;
  display:flex;
  color:#F9F9F9;
}
#u8574 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8574_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F9F9F9;
}
#u8575 {
  border-width:0px;
  position:absolute;
  left:1393px;
  top:850px;
  width:177px;
  height:26px;
  display:flex;
  color:#F9F9F9;
}
#u8575 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8575_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8576 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:973px;
  width:25px;
  height:25px;
  display:flex;
}
#u8576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#AAA9A9;
}
#u8577 {
  border-width:0px;
  position:absolute;
  left:1263px;
  top:1005px;
  width:80px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#AAA9A9;
}
#u8577 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8577_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u8578 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:729px;
  width:50px;
  height:29px;
  display:flex;
}
#u8578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u8579 {
  border-width:0px;
  position:absolute;
  left:1181px;
  top:704px;
  width:50px;
  height:29px;
  display:flex;
}
#u8579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u8580 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:963px;
  width:120px;
  height:120px;
  display:flex;
  color:#FFFFFF;
}
#u8580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8581 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:973px;
  width:25px;
  height:25px;
  display:flex;
}
#u8581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
