body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:1318px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:1925px;
}
#u10553 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:90px;
  width:200px;
  height:1925px;
  display:flex;
}
#u10553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1126px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(208, 199, 199, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10554 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:1126px;
  height:70px;
  display:flex;
}
#u10554 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:40px;
}
#u10555 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:35px;
  width:124px;
  height:40px;
  display:flex;
}
#u10555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10556 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:42px;
  width:176px;
  height:26px;
  display:flex;
}
#u10556 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10556_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10557 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:39px;
  width:61px;
  height:26px;
  display:flex;
}
#u10557 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10557_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u10558 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:35px;
  width:35px;
  height:35px;
  display:flex;
}
#u10558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
}
#u10559 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:51px;
  width:25px;
  height:14px;
  display:flex;
}
#u10559 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:225px;
}
#u10560 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:35px;
  width:170px;
  height:225px;
  display:flex;
}
#u10560 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10561 {
  border-width:0px;
  position:absolute;
  left:1233px;
  top:59px;
  width:61px;
  height:26px;
  display:flex;
}
#u10561 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10561_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u10562 {
  border-width:0px;
  position:absolute;
  left:1191px;
  top:55px;
  width:35px;
  height:35px;
  display:flex;
}
#u10562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:25px;
}
#u10563 {
  border-width:0px;
  position:absolute;
  left:1303px;
  top:63px;
  width:14px;
  height:25px;
  display:flex;
}
#u10563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#828082;
}
#u10564 {
  border-width:0px;
  position:absolute;
  left:1195px;
  top:110px;
  width:80px;
  height:26px;
  display:flex;
  color:#828082;
}
#u10564 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10564_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#828082;
}
#u10565 {
  border-width:0px;
  position:absolute;
  left:1195px;
  top:160px;
  width:80px;
  height:26px;
  display:flex;
  color:#828082;
}
#u10565 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10565_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BD23B7;
}
#u10566 {
  border-width:0px;
  position:absolute;
  left:1218px;
  top:215px;
  width:80px;
  height:26px;
  display:flex;
  color:#BD23B7;
}
#u10566 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10566_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10567 {
  border-width:0px;
  position:absolute;
  left:1295px;
  top:115px;
  width:20px;
  height:20px;
  display:flex;
}
#u10567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10568 {
  border-width:0px;
  position:absolute;
  left:1295px;
  top:165px;
  width:20px;
  height:20px;
  display:flex;
}
#u10568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#108EE9;
}
#u10569 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:115px;
  width:60px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#108EE9;
}
#u10569 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10569_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10570 {
  border-width:0px;
  position:absolute;
  left:1175px;
  top:98px;
  width:156px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10571 {
  border-width:0px;
  position:absolute;
  left:1175px;
  top:155px;
  width:156px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10572 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:162px;
  width:120px;
  height:26px;
  display:flex;
}
#u10572 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10572_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10573 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:209px;
  width:120px;
  height:26px;
  display:flex;
}
#u10573 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10573_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10574 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:255px;
  width:120px;
  height:26px;
  display:flex;
}
#u10574 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10574_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10575 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:443px;
  width:120px;
  height:26px;
  display:flex;
}
#u10575 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10575_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#828082;
}
#u10576 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:302px;
  width:80px;
  height:26px;
  display:flex;
  color:#828082;
}
#u10576 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10576_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#828082;
}
#u10577 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:349px;
  width:80px;
  height:26px;
  display:flex;
  color:#828082;
}
#u10577 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10577_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#828082;
}
#u10578 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:396px;
  width:80px;
  height:26px;
  display:flex;
  color:#828082;
}
#u10578 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10578_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#828082;
}
#u10579 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:489px;
  width:80px;
  height:26px;
  display:flex;
  color:#828082;
}
#u10579 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10579_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#828082;
}
#u10580 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:536px;
  width:114px;
  height:26px;
  display:flex;
  color:#828082;
}
#u10580 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10580_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#828082;
}
#u10581 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:583px;
  width:80px;
  height:26px;
  display:flex;
  color:#828082;
}
#u10581 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10581_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#828082;
}
#u10582 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:630px;
  width:80px;
  height:26px;
  display:flex;
  color:#828082;
}
#u10582 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10582_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#828082;
}
#u10583 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:677px;
  width:80px;
  height:26px;
  display:flex;
  color:#828082;
}
#u10583 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10583_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#828082;
}
#u10584 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:723px;
  width:120px;
  height:26px;
  display:flex;
  color:#828082;
}
#u10584 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10584_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#828082;
}
#u10585 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:770px;
  width:80px;
  height:26px;
  display:flex;
  color:#828082;
}
#u10585 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10585_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#828082;
}
#u10586 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:817px;
  width:80px;
  height:26px;
  display:flex;
  color:#828082;
}
#u10586 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10586_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#828082;
}
#u10587 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:864px;
  width:120px;
  height:26px;
  display:flex;
  color:#828082;
}
#u10587 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10587_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10588 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:911px;
  width:106px;
  height:26px;
  display:flex;
}
#u10588 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10588_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#828082;
}
#u10589 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:957px;
  width:60px;
  height:26px;
  display:flex;
  color:#828082;
}
#u10589 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10589_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#828082;
}
#u10590 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:1004px;
  width:60px;
  height:26px;
  display:flex;
  color:#828082;
}
#u10590 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10590_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#828082;
}
#u10591 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:1051px;
  width:60px;
  height:26px;
  display:flex;
  color:#828082;
}
#u10591 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10591_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10592 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:1098px;
  width:89px;
  height:26px;
  display:flex;
}
#u10592 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10592_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#828082;
}
#u10593 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:1144px;
  width:80px;
  height:26px;
  display:flex;
  color:#828082;
}
#u10593 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10593_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#828082;
}
#u10594 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:1191px;
  width:83px;
  height:26px;
  display:flex;
  color:#828082;
}
#u10594 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10594_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10595 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:1238px;
  width:120px;
  height:26px;
  display:flex;
}
#u10595 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10595_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10596 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:1285px;
  width:120px;
  height:26px;
  display:flex;
}
#u10596 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10596_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10597 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:1332px;
  width:120px;
  height:26px;
  display:flex;
}
#u10597 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10597_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10598 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:1378px;
  width:120px;
  height:26px;
  display:flex;
}
#u10598 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10598_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#828082;
}
#u10599 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:1425px;
  width:120px;
  height:26px;
  display:flex;
  color:#828082;
}
#u10599 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10599_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#828082;
}
#u10600 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:1472px;
  width:120px;
  height:26px;
  display:flex;
  color:#828082;
}
#u10600 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10600_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#828082;
}
#u10601 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:1519px;
  width:80px;
  height:26px;
  display:flex;
  color:#828082;
}
#u10601 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10601_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10602 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:1566px;
  width:120px;
  height:26px;
  display:flex;
}
#u10602 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10602_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#828082;
}
#u10603 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:1612px;
  width:80px;
  height:26px;
  display:flex;
  color:#828082;
}
#u10603 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10603_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#828082;
}
#u10604 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:1659px;
  width:60px;
  height:26px;
  display:flex;
  color:#828082;
}
#u10604 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10604_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#828082;
}
#u10605 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:1706px;
  width:80px;
  height:26px;
  display:flex;
  color:#828082;
}
#u10605 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10605_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10606 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:1753px;
  width:120px;
  height:26px;
  display:flex;
}
#u10606 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10606_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#828082;
}
#u10607 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:1800px;
  width:80px;
  height:26px;
  display:flex;
  color:#828082;
}
#u10607 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10607_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#828082;
}
#u10608 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:1846px;
  width:80px;
  height:26px;
  display:flex;
  color:#828082;
}
#u10608 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10608_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#828082;
}
#u10609 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:1893px;
  width:80px;
  height:26px;
  display:flex;
  color:#828082;
}
#u10609 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10609_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#828082;
}
#u10610 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:1940px;
  width:80px;
  height:26px;
  display:flex;
  color:#828082;
}
#u10610 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10610_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:927px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 251, 226, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10611 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:90px;
  width:927px;
  height:30px;
  display:flex;
}
#u10611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(210, 205, 205, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#108EE9;
}
#u10612 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:95px;
  width:140px;
  height:35px;
  display:flex;
  color:#108EE9;
}
#u10612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10613 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:100px;
  width:25px;
  height:25px;
  display:flex;
}
#u10613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10614 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:150px;
  width:555px;
  height:170px;
  display:flex;
}
#u10614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10615 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:150px;
  width:341px;
  height:170px;
  display:flex;
}
#u10615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#535253;
}
#u10616 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:560px;
  width:120px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#535253;
}
#u10616 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10616_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#535253;
}
#u10617 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:607px;
  width:80px;
  height:26px;
  display:flex;
  color:#535253;
}
#u10617 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10617_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#535253;
}
#u10618 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:165px;
  width:40px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#535253;
}
#u10618 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10618_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#535253;
}
#u10619 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:165px;
  width:80px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#535253;
}
#u10619 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10619_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u10620 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:162px;
  width:27px;
  height:25px;
  display:flex;
}
#u10620 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10621 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:160px;
  width:84px;
  height:27px;
  display:flex;
}
#u10621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10621_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
