body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:2350px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:445px;
}
#u10218 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:270px;
  width:238px;
  height:445px;
  display:flex;
}
#u10218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:445px;
}
#u10219 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:270px;
  width:238px;
  height:445px;
  display:flex;
}
#u10219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:445px;
}
#u10220 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:270px;
  width:230px;
  height:445px;
  display:flex;
}
#u10220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10221 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:780px;
  height:80px;
  display:flex;
}
#u10221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u10222 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:43px;
  width:20px;
  height:35px;
  display:flex;
}
#u10222 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10223 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:48px;
  width:80px;
  height:26px;
  display:flex;
}
#u10223 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10223_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:2px;
}
#u10224 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:240px;
  width:750px;
  height:1px;
  display:flex;
}
#u10224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#008080;
}
#u10225 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:205px;
  width:40px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#008080;
}
#u10225 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10225_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u10226 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:205px;
  width:40px;
  height:26px;
  display:flex;
  font-size:20px;
}
#u10226 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10226_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u10227 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:205px;
  width:40px;
  height:26px;
  display:flex;
  font-size:20px;
}
#u10227 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10227_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10228_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:73px;
  height:5px;
}
#u10228 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:240px;
  width:70px;
  height:2px;
  display:flex;
}
#u10228 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10229 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:20px;
  width:180px;
  height:67px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  height:70px;
}
#u10230 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:112px;
  width:735px;
  height:70px;
  display:flex;
}
#u10230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u10231 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:133px;
  width:141px;
  height:29px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u10231 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10231_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(53, 53, 53, 0.4);
}
#u10232 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:136px;
  width:125px;
  height:26px;
  display:flex;
  color:rgba(53, 53, 53, 0.4);
}
#u10232 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10232_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u10233 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:136px;
  width:80px;
  height:26px;
  display:flex;
  font-size:20px;
}
#u10233 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10233_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u10234 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:136px;
  width:15px;
  height:25px;
  display:flex;
}
#u10234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u10235 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:205px;
  width:40px;
  height:26px;
  display:flex;
  font-size:20px;
}
#u10235 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10235_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:313px;
}
#u10236 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:270px;
  width:229px;
  height:313px;
  display:flex;
}
#u10236 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:313px;
}
#u10237 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:270px;
  width:238px;
  height:313px;
  display:flex;
}
#u10237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:313px;
}
#u10238 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:270px;
  width:238px;
  height:313px;
  display:flex;
}
#u10238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u10239 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:635px;
  width:40px;
  height:26px;
  display:flex;
  color:#D9001B;
}
#u10239 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10239_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u10240 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:635px;
  width:40px;
  height:26px;
  display:flex;
  color:#AAAAAA;
}
#u10240 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10240_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF4D00;
}
#u10241 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:674px;
  width:80px;
  height:26px;
  display:flex;
  color:#FF4D00;
}
#u10241 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10241_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u10242 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:635px;
  width:40px;
  height:26px;
  display:flex;
  color:#D9001B;
}
#u10242 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10242_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF4D00;
}
#u10243 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:670px;
  width:78px;
  height:26px;
  display:flex;
  color:#FF4D00;
}
#u10243 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10243_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u10244 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:600px;
  width:120px;
  height:26px;
  display:flex;
  color:#555555;
}
#u10244 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10244_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u10245 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:635px;
  width:40px;
  height:26px;
  display:flex;
  color:#D9001B;
}
#u10245 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10245_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF4D00;
}
#u10246 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:670px;
  width:78px;
  height:26px;
  display:flex;
  color:#FF4D00;
}
#u10246 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10246_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u10247 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:600px;
  width:120px;
  height:26px;
  display:flex;
  color:#555555;
}
#u10247 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10247_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u10248 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:600px;
  width:120px;
  height:26px;
  display:flex;
  color:#555555;
}
#u10248 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10248_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:445px;
}
#u10249 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:740px;
  width:238px;
  height:445px;
  display:flex;
}
#u10249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:445px;
}
#u10250 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:740px;
  width:238px;
  height:445px;
  display:flex;
}
#u10250 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:445px;
}
#u10251 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:740px;
  width:230px;
  height:445px;
  display:flex;
}
#u10251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:313px;
}
#u10252 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:740px;
  width:229px;
  height:313px;
  display:flex;
}
#u10252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:313px;
}
#u10253 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:740px;
  width:238px;
  height:313px;
  display:flex;
}
#u10253 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:313px;
}
#u10254 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:740px;
  width:238px;
  height:313px;
  display:flex;
}
#u10254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u10255 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:1105px;
  width:40px;
  height:26px;
  display:flex;
  color:#D9001B;
}
#u10255 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10255_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF4D00;
}
#u10256 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:1144px;
  width:78px;
  height:26px;
  display:flex;
  color:#FF4D00;
}
#u10256 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10256_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u10257 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:1070px;
  width:100px;
  height:26px;
  display:flex;
  color:#555555;
}
#u10257 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10257_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u10258 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:1070px;
  width:120px;
  height:26px;
  display:flex;
  color:#555555;
}
#u10258 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10258_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u10259 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:1070px;
  width:120px;
  height:26px;
  display:flex;
  color:#555555;
}
#u10259 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10259_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u10260 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:1106px;
  width:80px;
  height:26px;
  display:flex;
  color:#555555;
}
#u10260 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10260_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u10261 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:1106px;
  width:80px;
  height:26px;
  display:flex;
  color:#555555;
}
#u10261 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10261_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10262 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:21px;
  width:780px;
  height:80px;
  display:flex;
}
#u10262 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u10263 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:44px;
  width:20px;
  height:35px;
  display:flex;
}
#u10263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10264 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:49px;
  width:80px;
  height:26px;
  display:flex;
}
#u10264 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10264_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10265 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:29px;
  width:180px;
  height:67px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u10266 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:115px;
  width:80px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u10266 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10266_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u10267 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:625px;
  width:80px;
  height:26px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u10267 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10267_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u10268 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:1144px;
  width:40px;
  height:26px;
  display:flex;
  color:#D9001B;
}
#u10268 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10268_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:445px;
}
#u10269 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:149px;
  width:230px;
  height:445px;
  display:flex;
}
#u10269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:313px;
}
#u10270 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:149px;
  width:229px;
  height:313px;
  display:flex;
}
#u10270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u10271 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:479px;
  width:100px;
  height:26px;
  display:flex;
  color:#555555;
}
#u10271 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10271_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u10272 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:515px;
  width:80px;
  height:26px;
  display:flex;
  color:#555555;
}
#u10272 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10272_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u10273 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:553px;
  width:40px;
  height:26px;
  display:flex;
  color:#D9001B;
}
#u10273 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10273_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:445px;
}
#u10274 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:685px;
  width:238px;
  height:445px;
  display:flex;
}
#u10274 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:445px;
}
#u10275 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:685px;
  width:238px;
  height:445px;
  display:flex;
}
#u10275 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:313px;
}
#u10276 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:685px;
  width:238px;
  height:313px;
  display:flex;
}
#u10276 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:313px;
}
#u10277 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:685px;
  width:238px;
  height:313px;
  display:flex;
}
#u10277 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u10278 {
  border-width:0px;
  position:absolute;
  left:1091px;
  top:1050px;
  width:40px;
  height:26px;
  display:flex;
  color:#D9001B;
}
#u10278 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10278_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF4D00;
}
#u10279 {
  border-width:0px;
  position:absolute;
  left:1089px;
  top:1089px;
  width:78px;
  height:26px;
  display:flex;
  color:#FF4D00;
}
#u10279 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10279_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u10280 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:1015px;
  width:120px;
  height:26px;
  display:flex;
  color:#555555;
}
#u10280 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10280_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u10281 {
  border-width:0px;
  position:absolute;
  left:1089px;
  top:1015px;
  width:120px;
  height:26px;
  display:flex;
  color:#555555;
}
#u10281 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10281_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u10282 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:1051px;
  width:80px;
  height:26px;
  display:flex;
  color:#555555;
}
#u10282 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10282_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#7F7F7F;
}
#u10283 {
  border-width:0px;
  position:absolute;
  left:1639px;
  top:740px;
  width:626px;
  height:26px;
  display:flex;
  font-size:20px;
  color:#7F7F7F;
}
#u10283 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10283_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u10284 {
  border-width:0px;
  position:absolute;
  left:1641px;
  top:851px;
  width:40px;
  height:26px;
  display:flex;
  color:#D9001B;
}
#u10284 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10284_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u10285 {
  border-width:0px;
  position:absolute;
  left:1697px;
  top:851px;
  width:40px;
  height:26px;
  display:flex;
  color:#AAAAAA;
}
#u10285 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10285_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF4D00;
}
#u10286 {
  border-width:0px;
  position:absolute;
  left:1639px;
  top:891px;
  width:78px;
  height:26px;
  display:flex;
  color:#FF4D00;
}
#u10286 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10286_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#555555;
}
#u10287 {
  border-width:0px;
  position:absolute;
  left:1639px;
  top:794px;
  width:252px;
  height:37px;
  display:flex;
  font-size:28px;
  color:#555555;
}
#u10287 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10287_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:65px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10288 {
  border-width:0px;
  position:absolute;
  left:1641px;
  top:941px;
  width:600px;
  height:65px;
  display:flex;
}
#u10288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 77, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF4D00;
}
#u10289 {
  border-width:0px;
  position:absolute;
  left:1641px;
  top:1035px;
  width:600px;
  height:65px;
  display:flex;
  color:#FF4D00;
}
#u10289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10290 {
  border-width:0px;
  position:absolute;
  left:1590px;
  top:20px;
  width:780px;
  height:80px;
  display:flex;
}
#u10290 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u10291 {
  border-width:0px;
  position:absolute;
  left:1629px;
  top:43px;
  width:20px;
  height:35px;
  display:flex;
}
#u10291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10292 {
  border-width:0px;
  position:absolute;
  left:1670px;
  top:48px;
  width:120px;
  height:26px;
  display:flex;
}
#u10292 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10292_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10293 {
  border-width:0px;
  position:absolute;
  left:1610px;
  top:28px;
  width:180px;
  height:67px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:600px;
}
#u10294 {
  border-width:0px;
  position:absolute;
  left:1752px;
  top:115px;
  width:456px;
  height:600px;
  display:flex;
}
#u10294 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
